{% extends "base.html" %}

{% block browser_title %}
Color List | Dreamwidth Styles
{% endblock %}

{% block page_title %}
Color List
{% endblock %}

{% block extrahead %}
<style type="text/css">
li.colorblock {
  padding: 5px;
  height: 2.5em;
  width: 5em;
  float: left;
  margin: 5px;
  padding: 3px;
  list-style-type: none;
  text-align: center;
  font-family: monospace;
}
.colorblock span { display: block; margin-bottom: .2em;}
</style>
{% endblock %}

{% block content %}

<div class="about">
<p>You can also look at <a href="{% url "dwstyles:colorgroup_list" %}">colorgroups</a>.</p>
</div>

<div class="pagination">
{% with "dwstyles:color_list" as base_url %}
{% include "utility/step_links.html" %}
{% endwith %}
</div>

<ul>
{% for color in colorproperty_list %}
<li class="colorblock" style="background-color: #{{color.color_hex}}; color: {{color.contrast_text}}; border: 1px solid black;">
<span class="colorhex">#{{color.color_hex}}</span>
<span class="more"><a style="color: {{color.contrast_text}};" href="{% url "dwstyles:color_view" slug=color.color_hex %}">More</a></span>
</li>
{% endfor %}
</ul>


<div class="pagination">
{% with "dwstyles:color_list" as base_url %}
{% include "utility/step_links.html" %}
{% endwith %}
</div>
{% endblock %}
