<!DOCTYPE HTML>
<html>
<head>
<title>{% block browser_title %}{{ title }} | Dreamwidth Style Browser{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/layout.css" /> 
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.js"></script>

{% block extrahead %}
{% endblock %}
</head>

<body>
<div class="header">
<h1 id="sitename">Dreamwidth Style Browser</h1>
<h2>{% block page_title %}{{ title }}{% endblock %}</h2>
</div>
{% include "sitenav.html" %}
<div class="content">
{% block content %}
{% endblock %}
</div>

<div class="after-content"></div>
<div class="footer">{% block footer %}{% endblock %}</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8084730-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
