{% extends "base.html" %}

{% block browser_title %}
Color Group List | Dreamwidth Styles
{% endblock %}

{% block extrahead %}
<style type="text/css">
.colorgroup {
  float: left;
  padding: 5px;
  border: 1px solid #CCC;
  list-style-type: none;
  margin: 1em;
  text-align: center;
}

.colorblock {
  padding: 5px;
  height: 2.5em;
  width: 5em;
  margin: 5px;
  padding: 3px;
  list-style-type: none;
  text-align: center;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid black;
}
.colorblock span { display: block; margin-bottom: .2em;}
</style>
{% endblock %}

{% block content %}
<div class="about">
<p>These colorgroups are automatically classified; the classifier isn't quite perfect yet, but mostly
usable!</p>
</div>

<h3>Colors</h3>

<ul>
{% for colorgroup in colors %}
<li class="colorgroup">
{{ colorgroup.label }}
<a class="colorblock" style="background-color: #{{colorgroup.display_color}};" href="{{colorgroup.get_absolute_url}}"></a>
{{ colorgroup.description }}
<p><a href="{% url "dwstyles:theme_list" %}?colorfilter={{colorgroup.codename}}">View themes</a></p>
</li>
{% endfor %}
</ul>

<div class="clear"></div>

<h3>Characteristics</h3>

<ul>
{% for colorgroup in characteristics %}
<li class="colorgroup">
{{ colorgroup.label }}
<a class="colorblock" style="background-color: #{{colorgroup.display_color}};" href="{{colorgroup.get_absolute_url}}"></a>
{{ colorgroup.description }}
<p><a href="{% url "dwstyles:theme_list" %}?colorfilter={{colorgroup.codename}}">View themes</a></p>
</li>
{% endfor %}
</ul>

<div class="clear"></div>

{% endblock %}
