{% extends "base.html" %}

{% block browser_title %}
Welcome!
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
<p>Welcome to the Dreamwidth Style Browser!</p>

<ul class="sitenav">
<li><a href="{% url "layout_list" %}">Layout List</a> -- lists all of the main layouts</li>
<li><a href="{% url "color_list" %}">Color List</a> -- displays colors you can find in layouts</li>
<li><a href="{% url "theme_list" %}">Theme List</a> -- displays all of the different themes for all layouts</li>
</ul>

If you have questions about styles, please see <span  style='white-space: nowrap;'><a href='http://style-system.dreamwidth.org/profile'><img src='http://www.dreamwidth.org/img/silk/identity/community.png' alt='[community profile] ' width='16' height='16' style='vertical-align: text-bottom; border: 0; padding-right: 1px;' /></a><a href='http://style-system.dreamwidth.org/'><b>style_system</b></a></span>!

You might also be interested in some guides we have been working on:

<ul>
<li><a href="http://wiki.dwscoalition.org/notes/S2_CSS">S2 CSS</a></li>
<li><a href="http://wiki.dwscoalition.org/notes/S2_Guide">S2 Guide</a></li>
<li><a href="http://wiki.dwscoalition.org/notes/S2_Cookbook">S2 Cookbook</a></li>
</ul>

{% endblock %}
