{% extends "base.html" %}

{% block browser_title %}
Layout: {{ layout.name }} | Dreamwidth Styles
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block page_title %}Layout: {{ layout.name }}{% endblock %}

{% block content %}

<div class="infobox layoutproperties">
<h3>Layout Properties</h3>

<p>This layout supports these features or has these characteristics:</p>

<ul>
{% for property in layout.properties.all %}
<li>{{ property.label }}</li>
{% endfor %}
</ul>
</div>

<div class="infobox layoutdetails">
<h3>Details</h3>

<ul>
{% if layout.official %}
<li>Official layout</li>
{% endif %}
{% if layout.labelid %}
<li><a href="http://www.dreamwidth.org/customize/advanced/layerbrowse?id={{layout.labelid}}">Layout detail page</a></li>
{% endif %}
{% if layout.sysid %}
<li><a href="http://www.dreamwidth.org/customize/advanced/layersource?id={{layout.sysid}}">Layout code</a></li>
{% endif %}
</ul>
</div>

<div class="clear"></div>

<h3>Themes ({{layout.get_themes.count}})</h3>
{% with layout.get_themes as themes %}
{% include "list_templates/themes.html" %}
{% endwith %}

{% endblock %}
