<li class="themebox">
<h3 class="themebox-title"><a href="{{ theme.get_absolute_url }}">{{ theme.name }}</a></h3>
<h4 class="themebox-layout">Layout: <a href="{{theme.layout.get_absolute_url}}">{{theme.layout.name}}</a></h4>

{{ theme.color_boxes|safe }}

<div class="themebox-thumb">
{% if theme.sysid %}
<a class="themepreview" target="blank" title="Preview in a different window if you are logged in"
href="http://www.dreamwidth.org/customize/preview_redirect?themeid={{ theme.sysid }}" >
{% endif %}
{% if theme.thumbnail %}
<img src="{{ MEDIA_URL }}/{{ theme.thumbnail }}" width="{{theme.thumbnail_width}}" 
height="{{theme.thumbnail_height}}" style="border: 1px solid black;" />
{% else %}
{% if theme.sysid %}
Preview
{% endif %}
{% endif %}
{% if theme.sysid %}
</a>
{% endif %}
</div>

{% if editlinks %}
<a class="editlink" href="{% url "admin:DWStyles_dwtheme_change" theme.pk %}">Edit</a>
{% endif %}
</li>
